extends layout

block content
  .inner
    //- If not specified, the "action" defaults to current URL
    form.form(method="POST")
      h2 Reset Your Password
      label(for="password") Password
      input(type="password" name="password")
      label(for="password") Confirm Password
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Reset Password")